@import '/opt/CXCOMM181100P_16-70004085/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/opt/CXCOMM181100P_16-70004085/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Summary View Widget
================================*/

@import "scss/components/_valueChooser-defaults.scss";